*.db
*.gcda
*.gcno
*.exe
*.o
*.old
*.pyc
*.so
*.vglog
callgrind.out.*
dhat.out.*
massif.out.*
vglog*

c/*.test
cpp/*.test

build/

client/mosquitto_pub
client/mosquitto_rr
client/mosquitto_sub

cov-int/

dist/

examples/mysql_log/mosquitto_mysql_log
examples/temperature_conversion/mqtt_temperature_conversion

lib/cpp/libmosquittopp.so*
lib/cpp/libmosquittopp.a
lib/libmosquitto.so*
lib/libmosquitto.a

man/mosquitto.8
man/mosquitto-tls.7
man/mosquitto.conf.5
man/libmosquitto.3
man/mosquitto_passwd.1
man/mosquitto_pub.1
man/mosquitto_rr.1
man/mosquitto_sub.1
man/mqtt.7

out/

src/db_dump/mosquitto_db_dump
src/mosquitto
src/mosquitto_passwd

test/broker/broker.pid
test/test_client
test/fake_user
test/msgsps_pub
test/msgsps_sub
test/msgsps_pub.dat
test/msgsps_sub.dat
test/broker/c/auth_plugin.so
test/broker/c/*.test

test/ssl/*.csr

test/lib/c/*.test
test/lib/cpp/*.test

test/unit/coverage.info
test/unit/mosq_test
test/unit/persist_read_test
test/unit/persist_write_test
test/unit/out/

www/cache/
__pycache__
